html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}

.container {
  margin: 20px;
}

.header {
  text-align: center;
  font-size: 100px; /* 100px is really large - for its effects remove the rule just below this one */
  font-size: 50px; /* 50px puts the text within veiwport range of my browsers window */
  font-weight: bold;
  color: khaki;
  background-image: url(../images/pattern.jpeg);
}

.brushes > h2 {
  background: mediumspringgreen;
  color: white;
  font-size: 32px;
  font-weight: bold;
}

#brushes {
  font-weight: bold;
  text-decoration: none;
  color: blue;
}

.frames > h2 {
   background: lightcoral;
  color: white;
  font-size: 32px;
  font-weight: bold;
}

#frames {
  font-weight: bold;
  text-decoration: none;
  color: blue;
}

.paint > h2 {
   background: skyblue;
  color: white;
  font-size: 32px;
  font-weight: bold;
}

#paint {
  font-weight: bold;
  text-decoration: none;
  color: blue;
}
